body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
  font-size: 15px;
  color: #121212;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

input[disabled] {
  opacity: 0.7;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

.contact-card {
  width: 300px;
}

/* form with two columns in index.hbs */
.two-columns {
  display: flex;
  align-items: flex-start;
}

.form {
  flex: 1;
}

.result {
  padding-left: 40px;
}

.field {
  margin-bottom: 20px;
}

.field .label {
  display: block;
  margin-bottom: 4px;
}

.field .inline {
  display: flex;
  align-items: center;
}

.field .inline input {
  margin-right: 10px;
}

.field .inline .label {
  margin-bottom: 0;
}

.field input:not([type="checkbox"]) {
  font: inherit;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
}

.label code {
  color: #929292;
}
