<form action="" class="editable-list__form">
  {{editable-field
    placeholder=item
    value=item
    buttonLabel=addButtonLabel
    buttonType="submit"
    focusInput=_focusInput
    onButtonClick=(action "addItem" item)}}
</form>

<div class="editable-list__list">
  {{#each items as |item index|}}
    {{editable-field
      placeholder=(get item textProperty)
      value=(get item textProperty)
      buttonLabel=listButtonLabel
      buttonTabindex=listButtonTabindex
      onButtonClick=(action "removeItem" index)}}
  {{/each}}
</div>