{{#each items as |item index|}}
  {{editable-field
    placeholder=item.name
    value=item.name
    buttonLabel=listButtonLabel
    buttonTabindex=listButtonTabindex
    onButtonClick=(action "removeItem" index)}}
{{/each}}

<form action="">
  {{editable-field
    placeholder=item
    value=item
    buttonLabel=addButtonLabel
    buttonType="submit"
    focusInput=_focusInput
    onButtonClick=(action "addItem" item)}}
</form>