<div class="field editable-field">
  {{input
    class="editable-field__input"
    type="text"
    value=value
    placeholder=placeholder
  }}

  <button
    class="editable-field__button"
    disabled={{_isDisabled}}
    onclick={{action "_onButtonClick"}}>{{buttonLabel}}</button>
</div>