<div class="outer-wrapper">
  <div class="wrapper">
    <div class="navigation">
      {{site-navigation tagName="ul" class="navigation__list"}}
    </div>

    <div class="main">
      {{outlet}}
    </div>
  </div>
</div>