<div class="outer-wrapper">
  <div class="wrapper">
    <div class="navigation">
      <SiteNavigation
        class="navigation__list"
        @tagName="ul">
      </SiteNavigation>
    </div>

    <div class="main">
      {{outlet}}
    </div>
  </div>
</div>