<div class="two-columns">
  <div class="col flex-1">
    <h2>Edit (model)</h2>

    {{editable-list
      listButtonLabel="Remove"
      addButtonLabel="Add"
      addInputPlaceholder="New item"
      items=model
      textProperty="name"}}
  </div>

  <div class="col flex-1">
    <h2>Render (model)</h2>
    <ul>
      {{#each model as |cat|}}
        <li>{{cat.name}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col flex-1">
    <h2>Render (computedCats)</h2>
    <ul>
      {{#each computedCats as |cat|}}
        <li>{{cat}}</li>
      {{/each}}
    </ul>
  </div>
</div>